@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&&family=VT323&display=swap');



#canvas{
  background-image: url(./1EDE10AF-E05F-4517-94C8111121EA127A_source.webp);
  display: block;
  width: 600px;
  height: 620px;
 
  background-size:cover;
  font-family: 'VT323', monospace;
  
}

body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  font-family: 'VT323', monospace;
  
}
.logo{
  width:100%;
  height: 100px;
  text-align: center;
  color: rgb(110, 34, 109);
  background-image:url(./Space-PNG-Pic.gif);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Press Start 2P', cursive;
}
title{
  color:red;
}
